Урок 1

Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [1]:
age = 28
name = 'Maksim'

Создайте список user_info, содержащий 4 элемента в следующем порядке:

    2 строки (имя и фамилия пользователя)
    1 дробное число (зарплата)
    1 целое число (стаж)

In [3]:
user_info = ['Maksim', 'Stroykin', 100000.0, 5]

В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

Сам список создавать не нужно, он уже находится в переменной user_ages. Пример данных, которые могут быть в user_ages:

In [5]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [6]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

    'junior' — стаж меньше 2 лет
    'middle' — стаж больше либо равен 2 лет и меньше или равен 5
    'senior' — стаж больше 5 лет

In [13]:
worker = ['Olya', 'Silyutina', 350000, 30]

In [14]:
user_name = worker[0]
user_surname = worker[1]
if worker[3] < 2:
    position = 'junior'
elif worker[3] >= 2 and worker[3] <= 5:
    position = 'middle'
else:
    position = 'senior'
status = user_name + ' ' + user_surname + ' is ' + position

In [15]:
status

'Olya Silyutina is senior'

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

Сам список создавать не нужно, он уже находится в переменной values. Пример данных, которые могут быть в values:

In [16]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [17]:
tens = []

In [18]:
for i in values:
    if i % 10 == 0:
        tens.append(i)

In [19]:
tens

[10, 100, 20, 50, 160, 210]

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

    'junior' — стаж меньше 2 лет
    'middle' — стаж больше либо равен 2 и меньше или равен 5
    'senior' — стаж строго больше 5 лет 

Сам список создавать не нужно, он уже находится в переменной workers. Пример данных, которые могут быть в workers:

In [21]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [43]:
for i in workers:
    user_name = i[0]
    user_surname = i[1]
    if i[3] < 2:
        position = 'junior'
    elif i[3] >= 2 and i[3] <= 5:
        position = 'middle'
    else:
        position = 'senior'
    status = user_name + ' ' + user_surname + ' is ' + position
    print(status)

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [51]:
lst = []

In [52]:
n = 0
N = 10
dn = 2

In [53]:
while n < N:
    n += dn
    lst.append(n)

In [54]:
lst

[2, 4, 6, 8, 10]